/* .bannerImg {
  animation: 3s ease-in 1s infinite reverse both running move;
}
@keyframes move {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 300%;
  }
} */
